<?xml version='1.0' encoding='utf-8'?>
<widget
	id="com.facility.powerhouse"
	version="2.9.3"
	xmlns="http://www.w3.org/ns/widgets"
	xmlns:gap="http://phonegap.com/ns/1.0"
	xmlns:android = "http://schemas.android.com/apk/res/android">
  <name>POWERHOUSE</name>
  <description>
    POWERHOUSE application
  </description>
  <author email="zaree@intelligentdata.com" href="http://intelligentdata.com">
    Intelligent Data Systems
  </author>
  <access origin="*" />
  <content src="index.html" />


  <gap:plugin spec="https://github.com/apache/cordova-plugin-whitelist.git" />
  <gap:plugin spec="https://github.com/apache/cordova-plugin-device.git" />
  <gap:plugin spec="https://github.com/apache/cordova-plugin-inappbrowser.git" />
  <gap:plugin spec="https://github.com/apache/cordova-plugin-dialogs.git" />
  <gap:plugin spec="https://github.com/apache/cordova-plugin-file-transfer.git#265b63faa13792632d5953a194c6b6183b9a8e23" />
  <gap:plugin spec="https://github.com/apache/cordova-plugin-network-information.git" />
  <gap:plugin spec="https://github.com/apache/cordova-plugin-statusbar.git" />
  <gap:plugin spec="https://github.com/apache/cordova-plugin-geolocation.git" />
  <gap:plugin spec="https://github.com/dgutie02/cordova-plugin-wezka-nativecamera.git" />
  <gap:plugin spec="https://github.com/apache/cordova-plugin-splashscreen.git" />
  <gap:plugin spec="https://github.com/EddyVerbruggen/Insomnia-PhoneGap-Plugin.git" />
	<plugin name="cordova-plugin-media-capture" source="npm" spec="1.4.3">
		<variable name="CAMERA_USAGE_DESCRIPTION" value="App would like to access the camera." />
		<variable name="MICROPHONE_USAGE_DESCRIPTION" value="App would like to access the microphone." />
		<variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="App would like to access the library." />
	</plugin>

  <gap:config-file platform="android" parent="/manifest" mode="add">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  </gap:config-file>  

  <gap:config-file platform="android" parent="/manifest/application">
    <activity android:launchMode="singleTask" />
  </gap:config-file>
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <!--<platform name="android">
    <allow-intent href="market:*" />
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
  </platform>-->


  <preference name="StatusBarOverlaysWebView" value="false" />
  <preference name="StatusBarBackgroundColor" value="#000000" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="orientation" value="portrait" />
  <preference name="target-device" value="universal" />
  <preference name="fullscreen" value="false" />
  <preference name="webviewbounce" value="false" />
  <preference name="prerendered-icon" value="true" />
  <preference name="stay-in-webview" value="false" />
  <preference name="ios-statusbarstyle" value="default" />
  <preference name="detect-data-types" value="true" />
  <preference name="exit-on-suspend" value="false" />
  <!--<preference name="show-splash-screen-spinner" value="true" />
  <preference name="auto-hide-splash-screen" value="false" />-->
  <preference name="AutoHideSplashScreen" value="true" />
  <preference name="SplashScreenDelay" value="3000" />
  <preference name="disable-cursor" value="false" />
  <preference name="phonegap-version" value="cli-9.0.0" />



  <!--<icon src="icon.png" />
    <icon gap:density="ldpi" gap:platform="android" src="res/icon/android/icon-36-ldpi.png" />
    <icon gap:density="mdpi" gap:platform="android" src="res/icon/android/icon-48-mdpi.png" />
    <icon gap:density="hdpi" gap:platform="android" src="res/icon/android/icon-72-hdpi.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="res/icon/android/icon-96-xhdpi.png" />
    <icon gap:platform="blackberry" src="res/icon/blackberry/icon-80.png" />
    <icon gap:platform="blackberry" gap:state="hover" src="res/icon/blackberry/icon-80.png" />
	
    <icon gap:platform="ios" height="57" src="res/icon/ios/icon-57.png" width="57" />
    <icon gap:platform="ios" height="72" src="res/icon/ios/icon-72.png" width="72" />
    <icon gap:platform="ios" height="114" src="res/icon/ios/icon-57-2x.png" width="114" />
    <icon gap:platform="ios" height="144" src="res/icon/ios/icon-72-2x.png" width="144" />
	
	
    <icon gap:platform="webos" src="res/icon/webos/icon-64.png" />
    <icon gap:platform="winphone" src="res/icon/windows-phone/icon-48.png" />
    <icon gap:platform="winphone" gap:role="background" src="res/icon/windows-phone/icon-173.png" />
	
	<gap:splash src="ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
	<gap:splash src="mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
	<gap:splash src="hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
	<gap:splash src="xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />-->

  <platform name="android">

    <allow-intent href="market:*" />
    
    <!--
            ldpi    : 36x36 px
            mdpi    : 48x48 px
            hdpi    : 72x72 px
            xhdpi   : 96x96 px
            xxhdpi  : 144x144 px
            xxxhdpi : 192x192 px
        -->
    <icon src="res/icon/android/ldpi.png"   density="ldpi" />
    <icon src="res/icon/android/mdpi.png"  density="mdpi" />
    <icon src="res/icon/android/hdpi.png"  density="hdpi" />
    <icon src="res/icon/android/xhdpi.png"  density="xhdpi" />
    <icon src="res/icon/android/xxhdpi.png"  density="xxhdpi" />
    <icon src="res/icon/android/xxxhdpi.png"  density="xxxhdpi" />


    <!-- you can use any density that exists in the Android project -->
    <!--<splash src="res/screen/android/splash-land-hdpi.png" density="land-hdpi"/>
    <splash src="res/screen/android/splash-land-ldpi.png" density="land-ldpi"/>
    <splash src="res/screen/android/splash-land-mdpi.png" density="land-mdpi"/>
    <splash src="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi"/>-->

    <splash src="res/screen/android/480X800.png"/>
    <splash src="res/screen/android/200X320.png"/>
    <splash src="res/screen/android/320x480.png"/>
    <splash src="res/screen/android/720X1280.png"/>
  
  </platform>



  <platform name="ios">

    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
    
    
    <!-- iOS 8.0+ -->
    <!-- iPhone 6 Plus  -->
    <icon src="res/icon/ios/180.png" width="180" height="180" />
    <!-- iOS 7.0+ -->
    <!-- iPhone / iPod Touch  -->
    <icon src="res/icon/ios/60.png" width="60" height="60" />
    <icon src="res/icon/ios/120.png" width="120" height="120" />
    <!-- iPad -->
    <icon src="res/icon/ios/76.png" width="76" height="76" />
    <icon src="res/icon/ios/152.png" width="152" height="152" />
    <!-- Spotlight Icon -->
    <icon src="res/icon/ios/40.png" width="40" height="40" />
    <icon src="res/icon/ios/80.png" width="80" height="80" />
    <!-- iOS 6.1 -->
    <!-- iPhone / iPod Touch -->
    <icon src="res/icon/ios/57.png" width="57" height="57" />
    <icon src="res/icon/ios/114.png" width="114" height="114" />
    <!-- iPad -->
    <icon src="res/icon/ios/72.png" width="72" height="72" />
    <icon src="res/icon/ios/144.png" width="144" height="144" />
    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="res/icon/ios/29.png" width="29" height="29" />
    <icon src="res/icon/ios/58.png" width="58" height="58" />
    <!-- iPad Spotlight and Settings Icon -->
    <icon src="res/icon/ios/50.png" width="50" height="50" />
    <icon src="res/icon/ios/100.png" width="100" height="100" />
    <!-- iPad Pro -->
    <icon src="res/icon/ios/167.png" width="167" height="167" />
    <!-- App Store -->
    <icon src="res/icon/ios/1024.png" width="1024" height="1024" />

    <splash src="res/screen/ios/320x480.png" width="320" height="480"/>
    <splash src="res/screen/ios/640x960.png" width="640" height="960"/>
    <splash src="res/screen/ios/768x1024.png" width="768" height="1024"/>
    <splash src="res/screen/ios/1536x2048.png" width="1536" height="2048"/>
    <splash src="res/screen/ios/640x1136.png" width="640" height="1136"/>
    <splash src="res/screen/ios/750x1334.png" width="750" height="1334"/>
    <splash src="res/screen/ios/1242x2208.png" width="1242" height="2208"/>


    <!--<splash src="res/screen/ios/Default-Landscape-736h.png" width="2208" height="1242"/>
    <splash src="res/screen/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
    <splash src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>-->
  </platform>



  <!-- iPhone and iPod touch -->
  <!--
	<gap:splash src="res/screen/ios/Default.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="res/screen/ios/Default@2x.png" gap:platform="ios" width="640" height="960" />
	-->
  <!-- iPhone 5 / iPod Touch (5th Generation) -->
  <!--
	<gap:splash src="res/screen/ios/Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />
	-->
  <!-- iPhone 6 -->
  <!--
	<gap:splash src="res/screen/ios/Default-667h@2x.png" gap:platform="ios" width="750" height="1334" />
	<gap:splash src="res/screen/ios/Default-Portrait-736h@3x.png" gap:platform="ios" width="1242" height="2208" />
	-->
  <!-- iPad -->
  <!--
	<gap:splash src="res/screen/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1024" />
	-->
  <!-- Retina iPad -->
  <!--
	<gap:splash src="res/screen/ios/Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2048" />-->


</widget>
