<script section-content="page-title" type="text/ng-template" >
    Forgot Password
</script>

<div apply-jq-mobile>
    <p>Please enter your user name, and an e-mail address that you have on file with us. Instructions for recovering your password will be e-mailed to you.</p>
    <form id="forgot-password-form">
        <fieldset>
            <label class="ui-hidden-accessible" for="user-name">User Name</label>
            <input type="text" id="user-name" ng-model="userName" placeholder="User Name" required/>
            <label class="ui-hidden-accessible" for="email">Email Address</label>
            <input type="email" id="email" ng-model="email" placeholder="Email Address" required/>
            <div class="error-message"></div>
            <button data-theme="b">Submit</button>
        </fieldset>
    </form>

</div>