<script section-content="page-title" type="text/ng-template" >
    About
</script>


<div apply-jq-mobile>
    <div class="main-content ui-content ui-body-b" data-role="content" role="main" style="font-size: 14px;" data-theme="b">
        <div style="text-align: center; font-size: 80%">
            <img alt="" class="MainLogoAbout" src="images/powerhouse.png"/>
            <br/>
            Version 2.7
            <br/><br/>
            Unauthorized reproduction or distribution of this program, or any portion of it, may result in severe criminal and civil penalties and will be prosecuted to the maximum extent possible under the law.
        </div>
        <div style="text-align: left;">
            <br/>
            <b>Powerhouse</b><br/>
            812 South Crowley Road <br/>
            Crowley, Texas 76036<br/><br/>
            <a style='text-decoration: none; color: black; margin-left: 0 !important;' href="tel:5167391313" class=""><img src='images/About-Page/Tel_24.png' alt=''>&nbsp; 817-297-8575 </a><br/>
            <a style='text-decoration: none; color: black; margin-left: 0 !important'><img src='images/About-Page/Fax_24.jpg' alt=''>&nbsp; 682-233-7050</a><br/>
            <a style='text-decoration: none; color: black; margin-left: 0 !important' ng-click="openBrowser('http://powerhouseretail.com')" target="_blank"><img src='images/About-Page/Website_24.png' alt=''>&nbsp;powerhouseretail.com</a><br/><br/>
            <b>Follow Us</b>
            <br/>
            <a ng-click="openBrowser('https://www.facebook.com/PowerhouseRetailServices')"><img src='images/About-Page/Facebook.png' alt=''></a>&nbsp;<a ng-click="openBrowser('https://www.linkedin.com/company/powerhouse-retail-services')"><img src='images/About-Page/Linkedin.png' alt=''></a>

            <p>
                <br/>
                <b>@{{year}} POWERHOUSE</b>
            </p>
        </div>
    </div>
    <!--<fieldset>
        <div data-role="fieldcontain">
            <div id="app-logo" style="height: 128px; width: 128px;"></div>
            <label id="company">Facil-ITy</label>
            <label><a ng-click="openBrowser('http://facil-ity.com/')">http://facil-ity.com/</a></label>
        </div>
        <div data-role="fieldcontain">
            <label for="version">App Version</label>
            <label id="version">1.7</label>
        </div>
        <div data-role="fieldcontain">
            <label for="author">Developed By</label>
            <label id="author">Intelligent Data Systems</label>
            <label><a ng-click="openBrowser('http://intelligentdata.com')">http://intelligentdata.com</a> </label>
        </div>
    </fieldset>-->
</div>


<div section-content="footer-content">

</div>