<script section-content="page-title" section-compile="false" type="text/ng-template" >
    <div class='headerLogo'>
        <img alt="" class="MainLogo" src="images/powerhouse.png"/>    
    </div>
</script>

<div apply-jq-mobile>
    <div style="margin-top: 20%;">

        <form id="login-form">
            <fieldset>
                <!--<div>
                    <input name="client-code" type="text" placeholder="Client Code" ng-model="formData.clientCode" id="clientCode" required autocorrect="off">
                    <div class="error-message"></div>
                </div>-->
                <h2 style="font-size: 17px; margin: 0; margin-bottom: 40px;color: white">
                    Sign In
                </h2>
                <div>
                    <input name="user-name" type="text" placeholder="Username" ng-model="formData.userName" required  autocorrect="off" autocapitalize="off">
                    <div class="error-message"></div>
                </div>
                <div>
                    <input name="password" type="password" placeholder="Password" ng-model="formData.password" required>
                    <div class="error-message"></div>
                </div>
                <div>
                    <button data-theme="a">Login</button>
    				
                </div>
                <!--<div>
                    <a id='register-link' data-role="button" data-theme="b" data-mini="true" href="#/Registration">New User? Register Here</a>
                </div>
                <div>
                    <a id='forgot-password-link' data-role="button" data-theme="b" data-mini="true" href="#/ForgotPassword">Forgot Password</a>
                </div>-->
            </fieldset>
        </form>
    </div>


    <!--<img src="images/main.jpg">

    <input type="button" />
    Test message-->

</div>